@font-face {
  font-family: "ATVWebPlayer Amazon Ember";
  src: url("https://js-assets.aiv-cdn.net/playback/web_player/ATVWebCascadesPlayer/1.2.200840.0/fonts/AmazonEmber_Rg.woff")
    format("woff");
  font-weight: 400;
}

body {
  background-color: #04a5de;
  width: 250px;
  height: 50px;
}

.button {
  display: inline-block;
  width: 90px;
  height: 40px;
  margin: 0;
  padding: 0.5rem 0.75rem;
  border: 0;
  border-radius: 0.317rem;
  background-color: #00285e;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.2;
  font-family: "ATVWebPlayer Amazon Ember", sans-serif;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

.button:hover {
  opacity: 0.85;
}

.button:active {
  box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.button:focus {
  outline: thin dotted #444;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.button_primary {
  background-color: #1fa3ec;
}

.button_secondary {
  background-color: #e98724;
}

.button-icon {
  display: inline-block;
  position: relative;
  top: -0.1em;
  vertical-align: middle;
  margin-right: 0.317rem;
}
#bt1 {
  display: table;
  margin: 5px auto;
}

#rowHomepage {
  font-size: 12px;
  font-weight: 700;
  font-family: "ATVWebPlayer Amazon Ember", sans-serif;
  margin-bottom: 10px;
}

#rowHomepage p {
  width: 100%;
}

#title {
  font-size: 14px;
  margin-bottom: 10px;
  color: #fff;
}

#rowCreate {
  height: 50px;
  width: 100%;
}

#rowInSession {
  height: 50px;
  width: 100%;
}

#rowInSession #titleInSession {
  margin-bottom: 5px;
}

#label {
  float: left;
}
#npt {
  float: left;
}

p {
  margin: 0 auto;
}

#text{
  font-weight: 700;
  font-family: "ATVWebPlayer Amazon Ember", sans-serif;
}

#aligncenter {
  display: table;
  margin: 0 auto;
}
#space {
  width: auto;
}
