<img id="informationIcon" alt="Information" src="/assets/icons/info.svg" />
<div id="content">
  <div class="innerContent">
    <img
      id="title"
      alt="Assiste comigo"
      src="/assets/icons/assiste-comigo-title.svg"
    />
  </div>
  <div class="innerContent">
    <div id="info" class="text" data-locale="homepageMessage">
      Abra um vídeo para criar uma sessão ou <br />
    </div>
    <div id="internalPlayerLink" class="text" data-locale="homepageMessageLink">
      escolha um vídeo um do seu PC
    </div>
  </div>
</div>
