button {
    width: 24px;
    height: 24px;
    background: url("./../../icons/assiste-comigo-icon.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    margin-left: 456px;
    opacity: 10%;
}