* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    position: relative;
    background: white;
    height: 200px;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    resize: both;
    overflow: auto;
}

.text,
button {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
}

#title {
    height: 50px;
    margin-top: 0.2em;
    margin-left: 30px;
    margin-bottom: 50px;
}

body {
    width: 500px;
    height: 300px;
    margin: -150px 0 0 -200px;
    position: absolute;
    top: 20%;
    left: 45%;
    padding: 20px;
}

.innerContent {
    margin-top: 10px;
    margin-left: 20px;
}

button {
    background-color: red;
    height: 65px;
    width: 160px;
    border-radius: 1rem;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-left: 5px;
}

#info {
    color: gray;
}

#urlCopyButton {
    margin-left: 10px;
    font-size: 10px;
    height: 15px;
    width: 70px;
    opacity: 50%;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}
